.main-page{

    display: grid;
    grid-template-columns: 5fr 2fr;

}



.game-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}



@media screen and (max-width: 1200px){

    .main-page{

        display: flex;
        /* grid-template-columns: 5fr 2fr; */
        flex-direction: column;
    
    }
    
}