.game{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 7px;
    position: relative;
    height: 350px;
    
}



.game img{
    width: 286px;
    border-radius: 8px;
   

}

.btn-cart{
    width:95%;
    background-color: #FF5400;
    border: 0;
    border-radius: 8px;
    color: white;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover{
    background-color: #BC004B;
}

